<div class="about-section" style="max-width:850px;margin:auto;text-align:justify;">
  <img src="/assets/img/_DSC7277.jpg" alt="Yongxu Sun" style="width:180px;float:right;margin:0 0 20px 20px;border-radius:12px;">
  <h2>About Me</h2>
  <p>
    I’m <strong>Yongxu (Jason) Sun</strong>, a first-year PhD student in Information Science at the University of Washington (iSchool),
    working with <a href="https://faculty.washington.edu/aylin/" target="_blank">Prof. Aylin Caliskan</a> and 
    <a href="https://ischool.uw.edu/people/faculty/profile/miketeod" target="_blank">Prof. Mike Teodorescu</a>.

  </p>
  <p>
    My research focuses on the societal impact of AI, including <em>bias detection, measurement, and mitigation</em> in multimodal generative models,
  </p>

</div>
<hr>
